/*
 * theme.css
 * 色・スタイルに関する定義
 */

/*
 * html
 * ハンバーガーのスクロール時高さ対策
 */
html {
  background-color: var(--color-device-bg);
}

/*
 * body, article
 * articleはハンバーガーのスクロール時高さ対策
 */
body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

/*
 * footerlink
 */
div.footerlink {
  & h2, & address, & li, & a, & a:hover {
    color: var(--color-text);
  }
}

/*
 * topics
 */
ul.topics {
  border-top: 2px solid var(--gray);

  & li {
    border-bottom: 1px solid var(--gray);
  }
}

/*
 * flexbox
 */
[class*='flexbox-item-'] {
  background-color: var(--gray-lighter);
}

[class*='flexbox-item-']:nth-child(odd) {
  background-color: color(
    var(--gray-lighter)
    blackness(+3%)
  );
}

/*
 * grid
 */
[class*='grid-item-'] {
  border: 1px solid var(--gray);
}

/*
 * masonry
 */
[class*='masonry-item-'] {
  border: 1px solid var(--gray);
}

/*
 * link
 */
a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-hover);
}

a:visited {
  color: var(--color-visited);
}

/*
 * form
 */
input {
  border: 1px solid #999999;
}

/*
 * webfont
 */
i {
  font-family: 'icomoon';
}
