'use strict';

import gulp from 'gulp';
import shell from '/usr/local/lib/node_modules/gulp-shell';

import postcss       from './gulp/tasks/postcss.es6';
import postcss_lib   from './example/lib/gulp/tasks/lib.es6';

gulp.registry(postcss);
gulp.registry(postcss_lib);
