{
  "name": "postcss-app",
  "version": "0.0.1",
  "description": "postcss minimum app",
  "main": "./src/style.css",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-postcss.git"
  },
  "keywords": [
    "postcss-cli",
    "postcss-cssnext"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],

  "dependencies": {},

  "devDependencies": {
    "cssnano": "next",
    "postcss": "^6.0.0",
    "postcss-assets": "*",
    "postcss-cssnext": "*",
    "postcss-url": "*",
    "postcss-import": "*",
    "postcss-discard-comments": "*",
    "postcss-reporter": "*",
    "postcss-flexibility": "*",
    "postcss-mixins": "*",
    "postcss-extend": "*",
    "postcss-for": "*",
    "postcss-for-variables": "*",
    "lost": "*",

    "calipers": "*",
    "calipers-jpeg": "*",
    "calipers-png": "*",
    "calipers-gif": "*",

    "phantom": "*",
    "mocha": "*",
    "chai": "*",
    "sinon": "*",
    "mocha-junit-reporter": "*",

    "babel-core": "*",
    "babel-preset-es2015": "*",
    "gulp": "gulpjs/gulp#4.0"
  },

  "scripts": {
    "global": "npm install -g postcss-cli phantomjs-prebuilt mocha mocha-junit-reporter github:gulpjs/gulp.git#4.0 gulp-shell gulp-cli csswring",
    "preinstall": "cp -r -n ./stylesheets ../",
    "postinstall": "gulp postcss:build",
    "test": "gulp postcss:mocha:report"
  },

  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
