/*
 * # modules/flexbox.css
 * display:flexboxを使用したスタイルを定義
 */

/*
 * config
 */
:root {
  --columns:    12;
  --gutter:     1rem;
}

/*
 * .flexbox-container
 */
.flexbox-container, .inner-container {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  width: var(--container-width);
  margin: 0 auto;
  /* ie11だと、画像があると隙間ができる */
  min-width: 0%;
}

/*
 * .inner-container
 */
.inner-container {
  max-width: var(--inner-container-width);
}

/*
 * .column-num
 */
[class*='column-'] {
  padding: var(--gutter);
}

@for $i from 1 to var(--columns) {
  .column-$i {
    /* postcss.config.jsのpostcss-forを先読込 */
    min-width: calc(
      (var(--container-width) / var(--columns)) * $(i) -
      var(--small-spacing)
    );
    flex: $(i);
  }
}


@media (--sp-viewport) {
  /*
   * .flexbox-container, .inner-container
   */
  .flexbox-container, .inner-container {
    /* ie11だとflex-direction:columnで高さ誤認識 */
    display: block;
    width: 100%;
  }

  /*
   * img
   */
  img {
    width: auto;
    max-width: 100%;
    height: auto !important;
  }
}
