/*
 * # modules/globalfooter.css
 * globalfooterのスタイルを定義
 */

/*
 * config
 */
:root {
  --footer-width: 100%;
  --footer-trademark-width: 80px;
  --footer-trademark-height: 20px;
}


/*
 * globalfooter
 */
.globalfooter {
  width: var(--footer-width);
}

/*
 * footerlink
 */
.globalfooter div.footerlink {
  padding: var(--base-spacing) 0;

  & img {
    float: left;
    width: var(--footer-trademark-width);
    height: var(--footer-trademark-height);;
    margin: calc(var(--tiny-spacing) / 2);
    margin-bottom: 0;
    margin-left: 0;
  }

  & h2, & address, & li, & a, & a:hover {
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    height: calc(var(--large-spacing) * 1.5);
    text-decoration: none;
  }

  & h1 {
    font-size: var(--base-font-size);
  }

  & h2 {
    font-weight: bold;
  }

  & address, & li:last-child {
    height: auto;
  }

  & span {
    padding-right: var(--small-spacing);
  }
}

/*
 * .copyright
 */
.globalfooter small {
  display: block;
  line-height: calc(var(--base-spacing) * 1.5);
  height: calc(var(--base-spacing) * 1.5);
  vertical-align: middle;
  text-align: center;
}


@media (--sp-viewport) {
  .globalfooter div.footerlink {
    padding-top: 0;

    & h2 {
      height: auto;
    }

    & li, & a, & a:hover {
      display: inline-block;
      line-height: 1.2rem;
      height: auto;
    }

    & li {
      border-right: 1px solid var(--gray);
      padding: 0 var(--tiny-spacing);
    }

    & li:last-child {
      border-right: none;
    }

    & h2 br, & li br {
      display: none;
    }
  }
}
