/*
 * # modules/grid.css
 * レスポンシブ・gridに関する定義
 */

/*
 * config
 */
:root {
  --max-width:  95%;
  --columns:    12;
}

/*
 * .container
 */
.container {
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: var(--max-width);
  margin: 0 auto;
  /* ie11だと、画像があると隙間ができる */
  min-width: 0%;
}

/*
 * .column-num
 */
[class*='column-'] {
  /* column property here */
}

@for $i from 1 to var(--columns) {
  .column-$i {
    /* postcss.config.jsのpostcss-forを先に読み込む事 */
    min-width: calc((var(--max-width) / var(--columns)) * $(i));
    flex: $(i);
  }
}

/*
 * responsive
 */
@media (--sp-viewport) {
  img {
    width: auto;
    max-width: 100%;
    height: auto !important;
  }

  .container {
    /* ie11だと flex-direction: columnで高さが認識されない */
    display: block;
    width: 100%;
  }
}
