/*
 * # modules/hero.css
 * hero imageのスタイルの定義
 */

/*
 * config
 */
:root {
  --hero-height: 300px;
  --hero-height-sp: 225px;
}


/*
 * theme
 */
.hero {
  background-color: var(--gray);
}


/*
 * .hero
 */
.hero {
  display: block;
  width: 100%;
  height: var(--hero-height);
  padding-bottom: 0;
}

/*
 * .hero > div
 */
.hero > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 25%;
  text-align: center;

  & > h1 {
    font-size: calc(var(--heading-font-size) * 1.25);
  }
}


@media (--sp-viewport) {
  /*
   * .hero
   */
  .hero {
    height: var(--hero-height-sp);
  }

  /*
   * .hero > div
   */
  .hero > div {
    height: 40%;

    & > h1 {
      font-size: var(--heading-font-size);
    }

    & > span {
      font-size: var(--small-font-size);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
