/*
 * # modules/hero.css
 * hero imageのスタイルの定義
 */

/*
 * config
 */
:root {
  --hero-height: 300px;
  --hero-height-sp: 225px;
}

/*
 * .hero-container
 */
.hero-container {
  padding-bottom: 0;
}

.hero-container > ul {
  position: relative;
  height: var(--hero-height);
  overflow: hidden;
}

/*
 * .hero-item-num
 */
[class*='hero-item-'] {
  position: absolute;
  width: 100%;
  margin-left: 100%;
  height: var(--hero-height);
}

[class*='hero-item-'].active {
  animation: slideshow .7s ease 0s forwards;
}

/*
 * .hero-item-num > div
 */
[class*='hero-item-'] > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;

  // for ios safari z-index issue
  -webkit-transform: translate3d(0,0,0);

  & > p {
    text-align: center;
  }
}

[class*='hero-item-'].active > div {
  -webkit-transform: translate3d(0,0,0);
  animation: fadein .7s ease .8s forwards;
}

/*
 * kekyframes
 */
@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (--sp-viewport) {
  .hero-container > ul {
    height: var(--hero-height-sp);
  }

  /*
   * .hero-item-num
   */
  [class*='hero-item-'] {
    height: calc(var(--hero-height) * 0.75);
  }

  /*
   * .hero-item-num > div
   */
  [class*='hero-item-'] > div {
    height: 40%;

    & > h1 {
      font-size: var(--heading-font-size);
    }

    & > span {
      font-size: var(--small-font-size);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
