/*
 * # modules/humberger.css
 * ハンバーガーメニューに関する定義
 * nav.globalnav .humbergerが必要
 * div#humberger-iconが必要
 * jsでopen/close toggleClassするコードが必要
 */

/*
 * vars
 */
:root {
  --burger-width: 240px;
}

@media (--sp-viewport) {
  /*
   * body toggle animation
   */
  body {
    left: 0;
    transition: left .3s ease;
    &.humberger-active {
      left: var(--burger-width);
    }
  }

  /*
   * globalnav
   */
  nav.globalnav.humberger {
    width: var(--burger-width);
    top: 0;
    margin-top: 0;
    padding-top: 0;
    border: none;
    background-color: #343434;

    left: -var(--burger-width);
    transition: left .3s ease;
    &.humberger-active {
      left: 0;
    }

    & ul {
      display: block;

      & li {
        height: 4rem;
        padding: var(--small-spacing);
        text-align: left;
        line-height: var(--small-line-height);
        border: none;
        border-top: 1px solid #474747;
        border-bottom: 1px solid #212121;
        background-color: #373737;
      }

      & li:last-child {
        border-right: none;
      }
    }
  }

  /*
   * humberger-icon
   */
  div.humberger-icon {
    position: fixed;
    margin: 1.7rem;
    width: 30px;
    height: 19px;
    background-color: black;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      content: '';
      width: 100%;
      border-top: 5px solid white;
    }

    &:before {
      top: 3px;
    }

    &:after {
      bottom: 3px;
    }
  }
}
