/*
 * # modules/loading.css
 * ローディング画面
 * htmlにインラインで記述する場合もあるため、
 * そのままコピペできるようにnestは使っていない
 */

/*
 * config 
 */
:root {
  --loading-font-width: 12rem;

  /* theme */
  --loading-background-color: var(--color-device-bg);
  --loading-p-font-family: 'Consolas',
                           'Courier New', Courier, Monaco,
                           monospace;
  --loading-p-font-size: 110%;
  --loading-p-line-height: 95%;
  --loading-p-color: color(var(--color-device-bg) lightness(+40%));
  --loading-p-border-right: 1px solid color(var(--color-device-bg) lightness(+20%));
}


/*
 * div#wrap
 */
div.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity .7s ease 0s;

  background-color: var(--loading-background-color);
  z-index: 9999;
}

div.loading.loaded {
  opacity: 0;
}

div.loading > p {
  position: absolute;
  display: block;
  top: 50%;
  bottom: 50%;
  right: 0;
  left: 0;
  width: var(--loading-font-width);
  height: var(--base-spacing);
  margin: auto;
  padding-top: var(--tiny-spacing);
  line-height: var(--small-spacing);
  white-space: nowrap;
  overflow: hidden;

  font-family: var(--loading-p-font-family);
  line-height: var(--loading-p-font-size);
  color: var(--loading-p-color);
  border-right: var(--loading-p-border-right);

  animation: typing 2.5s steps(12, end) infinite,
             loadingBlink .5s step-end infinite alternate;
}


/*
 * keyframes
 */
@keyframes typing {
  0%   { width: 0; }
  20%  { width: var(--loading-font-width); }
  100% { width: var(--loading-font-width); }
}

@keyframes loadingBlink {
  50% {
    border-color: transparent;
  }
}
