/*
 * # modules/scrolltop.css
 * ページの先頭への定義
 * js側でもposition: fixed, z-index: 9999を指定している
 */

/*
 * theme
 */
a.scrolltop:visited {
  color: var(--color-link);
}


a.scrolltop {
  position: fixed;
  right: 0;
  padding-right: var(--small-spacing);
  font-size: 48px;
  text-decoration: none;
}
