/*
 * # modules/slideshow.css
 * slideshowのスタイルの定義
 */

/*
 * config
 */
:root {
  --slideshow-height: 300px;
  --slideshow-height-sp: 225px;
}


/*
 * theme
 */
.slideshow {
  & [class*='slideshow-item-'] {
    background-color: var(--gray);
  }

  & [class*='slideshow-item-']:nth-child(odd) {
    color: white;
    background-color: var(--gray-dark);
  }
}

.slideshow-prev, .slideshow-forward {
  color: white;
}

.slideshow-dot {
  color: white;

  & > li {
    border-radius: 6px;
    width: 12px;
    height: 12px;
    background-color: white;
    box-shadow: 0px 1px 1px black inset;

    &.active {
      background-color: var(--brand-success);
    }
  }
}


/*
 * .slideshow
 */
.slideshow {
  position: relative;
  height: var(--slideshow-height);
  padding-bottom: 0;
  overflow: hidden;
}

/*
 * .slideshow-item-num
 */
[class*='slideshow-item-'] {
  position: absolute;
  margin-left: 100%;

  & > * {
    opacity: 0;
    // for ios safari z-index issue
    -webkit-transform: translate3d(0,0,0);
  }
}

/*
 * animation
 */
[class*='slideshow-item-'].active {
  animation: slideshow .7s ease 0s forwards;

  & > * {
    animation: slideshow-fadein .7s ease .8s forwards;
  }
}

/*
 * button
 */
.slideshow-prev, .slideshow-forward {
  position: absolute; 
  display: inline-block;
  height: 5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 5rem;
  z-index: 10;
  cursor: pointer;
  opacity: .3;
  transition: opacity .7s ease;

  &:hover {
    opacity: 1;
  }
}

.slideshow-prev {
  left: 0;
}

.slideshow-forward {
  right: 0;
}

.slideshow-dot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--base-spacing);
  z-index: 10;
  margin: 0 auto;
  text-align: center;

  & > li {
    display: inline-block;
    margin: 0 var(--small-spacing);
    opacity: .3;
    transition: all .5s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
}

/*
 * kekyframes
 */
@keyframes slideshow {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes slideshow-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (--sp-viewport) {
  /*
   * .slideshow
   */
  .slideshow {
    height: var(--slideshow-height-sp);

    // for ios safari overflow-x issue
    & > ul {
      position: relative;
      overflow: hidden;
    }
  }
}
