/*
 * # modules/slidemenu.css
 * slidemenuのスタイルの定義
 * nav.globalnav .slidemenuが必要
 * jsでopen/close toggleClassするコードが必要
 */

/*
 * config
 */
:root {
  --slidemenu-height: -240px;

  /* theme */
  --slidemenu-a-color: var(--gray-dark);
  --slidemenu-background-color: color(var(--color-device-bg) lightness(+2%));
  --slidemenu-li-border-top: 1px solid color(var(--color-device-bg) lightness(+7%));
  --slidemenu-li-border-bottom: 1px solid color(var(--color-device-bg) blackness(+90%));
  --slidemenu-icon-background-color: var(--color-device-bg);
  --slidemenu-icon-border-top: 5px solid var(--color-bg);
}


@media (--sp-viewport) {
  /*
   * globalnav
   */
  nav.globalnav.slidemenu {
    position: fixed;
    top: var(--slidemenu-height);
    transition: top .5s ease;

    border: none;
    // スマホでロード時に表示されるため一度消す
    opacity: 0;

    & a, & a:hover {
      color: var(--slidemenu-a-color);
    }

    &.slidemenu-active {
      top: 0;
    }

    & ul {
      display: block;
      padding-top: 0;

      & li {
        height: 4rem;
        padding: var(--small-spacing);
        line-height: var(--small-line-height);

        border: none;
        border-top: var(--slidemenu-li-border-top);
        border-bottom: var(--slidemenu-li-border-bottom);
        background-color: var(--slidemenu-background-color);

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  /*
   * slidemenu-icon
   */
  div.slidemenu-icon {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.7rem;
    width: 30px;
    height: 19px;
    z-index: 200;
    transition: left .3s ease;
    cursor: pointer;

    background-color: var(--slidemenu-icon-background-color);

    &:before, &:after {
      position: absolute;
      content: '';
      width: 100%;

      border-top: var(--slidemenu-icon-border-top);
    }

    &:before {
      top: 3px;
    }

    &:after {
      bottom: 3px;
    }
  }
}
