/*
 * # modules/topic.css
 * トピックスリストに関する定義
 */

ul.topics {
  border-top: 2px solid #ccc;

  & li {
    line-height: var(--small-line-height);
    padding: 0.5em 0 0.75em;
    padding-left: 1em;
    text-indent: -1em;
  }

  & li:before {
    font-family: 'icomoon';
    content: "\e902";
  }
}
