/*
 * # modules/articlefixed.css
 * articleに関する定義
 */

/*
 * config
 */
:root {
  --articlefixed-header-height: 5rem;
  --articlefixed-nav-height: 5rem;

  /* theme */
  --article-color: var(--color-text);
  --article-background-color: var(--color-bg);
}


/*
 * article.articlefixed
 */
article.articlefixed {
  min-height: 100vh;
  padding-top: calc(
    var(--articlefixed-header-height) +
    var(--articlefixed-nav-height)
  );
}

@media (--sp-viewport) {
  article.articlefixed {
    padding-top: calc(
      var(--articlefixed-header-height)
    );
  }
}
