/*
 * # layouts/article.css
 * articleに関する定義
 */

/*
 * config
 */
:root {
  /* theme */
  --article-color: var(--color-text);
  --article-background-color: var(--color-bg);
}

/*
 * article
 */
article {
  color: var(--article-color);
  background-color: var(--article-background-color);
}
