/*
 * # modules/globalnav.css
 * globalnavのスタイルを定義
 */

/*
 * config
 */
:root {
  --globalnav-height: 5rem;
  --globalnav-header-height: 5rem;

  /* theme */
  --globalnav-background-color: color(var(--color-bg) alpha(-5%));  
  --globalnav-border-bottom: 1px solid var(--gray-darker);
  --globalnav-li-border: 1px solid var(--gray);
  --globalnav-a-font-size: var(--small-font-size);
  --globalnav-a-line-height: var(--small-line-height);
  --globalnav-a-color: var(--color-text);
}


/*
 * globalnav
 */
.globalnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--globalnav-height);
  margin-top: var(--globalnav-header-height);
  background-color: var(--globalnav-background-color);
  border-bottom: var(--globalnav-border-bottom);

  & ul {
    flex-wrap: nowrap;
    padding-top: 1rem;

    & li {
      flex: 1;
      line-height: 3rem;
      text-align: center;
      border-left: var(--globalnav-li-border);

      &:last-child {
        border-right: var(--globalnav-li-border);
      }

      & a, & a:hover {
        font-size: var(--globalnav-a-font-size);
        line-height: var(--globalnav-a-line-height);
        text-decoration: none;
        color: var(--globalnav-a-color);
      }
    }
  }
}
