/*
 * # modules/globalheader.css
 * globalheaderのスタイルを定義
 */

/*
 * config
 */
:root {
  --globalheader-height: 5rem;
  --globalheader-trademark-width: 80px;
  --globalheader-trademark-height: 20px;

  /* theme */
  --globalheader-color: var(--color-text);
  --globalheader-background-color: var(--gray-lighter);
  --globalheader-border-top: 3px solid var(--color-corp);
  --globalheader-border-bottom: 1px solid var(--gray);
  --globalheader-li-border-right: 1px solid var(--gray);
}


/*
 * globalheader
 */
.globalheader {
  position: fixed;
  display: table;
  top: 0;
  width: 100%;
  height: var(--globalheader-height);
  padding: 0 var(--base-spacing);
  vertical-align: middle;

  color: var(--globalheader-color);
  background-color: var(--globalheader-background-color);
  border-top: var(--globalheader-border-top);
  border-bottom: var(--globalheader-border-bottom);
}

/*
 * h1.trademark
 */
.globalheader h1.trademark {
  display: table-cell;
  width: var(--globalheader-trademark-width);
  height: var(--globalheader-trademark-height);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;

  & a {
    display: block;
    line-height: var(--globalheader-trademark-height);
  }
}

/*
 * header-right
 */
.globalheader > div.header-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;

  & li {
    display: inline-block;
    font-size: var(--small-font-size);
    border-right: 1px solid var(--gray);
    padding: 0 var(--base-spacing);
    border-right: var(--globalheader-li-border-right);
  }

  & li:last-child {
    border-right: none;
    padding-right: 0;
  }
}


@media (--sp-viewport) {
  /*
   * h1.trademark
   */
  .globalheader h1.trademark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  /*
   * div.header-right
   */
  .globalheader > div.header-right {
    display: none;
  }
}
