/*
 * # configs/vars.css
 * 変数
 */

:root {
  /*
   * media queries
   */
  @custom-media --sp-viewport only screen and (max-width: 767px);
  @custom-media --pc-viewport only screen and (min-width: 768px);
  @custom-media --5k-viewport only screen and (min-width: 1920px);

  /*
   * color
   * device-bgは初期ロード時の背景色
   */

  /* base */
  --color-text:     #333333;
  --color-link:     #004C97;
  --color-hover:    color(var(--color-link) alpha(-50%));
  --color-visited:  #004C97;
  --color-bg:       #FFFFFF;
  --device-bg:      #252525;
  --color-text-bold: #004C97;
  --color-bg-second: #FFFFFF;

  /* corporate */
  --color-corp:        #004C97;
  --color-corp-second: #004C97;
  --color-corp-third:  #004C97;

  /* brand */
  --brand-primary: #004C97;
  --brand-success: #007A33;
  --brand-info:    #009CDE;
  --brand-warning: #F3D54E;
  --brand-danger:  #A6192E;

  /* gray */
  --gray-darker:  color(var(--color-bg) blackness(85.0%));
  --gray-dark:    color(var(--color-bg) blackness(65.0%));
  --gray:         color(var(--color-bg) blackness(35.0%));
  --gray-light:   color(var(--color-bg) blackness(20.0%));
  --gray-lighter: color(var(--color-bg) blackness(3.5%));

  /* category */
  --color-category-01: #004C97;
  --color-category-02: #004C97;
  --color-category-03: #004C97;
  --color-category-04: #004C97;
  --color-category-05: #004C97;
}
