/*
 * # modules/button-arrow.css
 * ボタンのスタイルを定義
 * left, rightのクラスを指定すると矢印がつく
 *
 * Example:
 * <label class="button left">
 *   <a href="#">前へ</a>
 * </label>
 */

/*
 * config
 */
:root {
  --button-height: var(--base-line-height);
  --button-padding: var(--small-font-size);
  --button-border-radius: var(--tiny-spacing);
  
  /* theme */
  --button-font-size: calc(var(--base-font-size) * 0.7);
  --button-background-color: var(--brand-primary);
  --button-color: color(
    var(--button-background-color)
    contrast(100%)
  );
}


/*
 * label.button
 */
label.button {
  display: inline-block;
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 55%;
    width: calc(var(--button-height) / 2.75);
    height: calc(var(--button-height) / 2.75);
    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
  }

  & a {
    display: inline-block;
    height: var(--button-height);
    line-height: var(--button-height);
    padding: 0 var(--button-padding);
    padding-top: calc(var(--button-padding) / 10);
    color: var(--button-color);
    text-decoration: none;
    font-size: var(--button-font-size);
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radius);
  }
}

/*
 * label.button.left
 */
label.button.left {
  &:after {
    border: 2px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--button-color);
    border-left-color: var(--button-color);
    left: var(--button-padding);
  }

  & a {
    padding-left: var(--button-height);
  }
}

/*
 * label.button.right
 */
label.button.right {
  &:after {
    border: 2px solid;
    border-top-color: var(--button-color);
    border-right-color: var(--button-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
    right: var(--button-padding);
  }

  & a {
    padding-right: var(--button-height);
  }
}

/*
 * for MS Edge
 */
@supports (-ms-ime-align: auto) {
  label.button a {
    padding-top: 0;
  } 
}
