/*
 * # modules/checkbox.css
 * formのcheckboxのスタイルを変更
 *
 * Example:
 * <label class="checkbox">
 *   <input type="checkbox" name="check" value="1" />
 *   <span>aaa</span>
 * </label>
 */

/*
 * config
 */
:root {
  --checkbox-height: calc(var(--base-line-height) * 0.9);
  --checkbox-border-radius: calc(var(--tiny-spacing) * 0.5);
  
  /* theme */
  --checkbox-font-size: calc(var(--base-font-size) * 0.8);
  --checkbox-background-color: white;
  --checkbox-border: 2px solid var(--gray-light);
  --checkbox-border-width: 2px;
  --checkbox-color: color(
    var(--checkbox-background-color)
    contrast(100%)
  );
}


/*
 * checkbox
 */
input[type=checkbox] {
  display: none;
}

label.checkbox {
  margin-right: var(--base-spacing);
  cursor: pointer;

  &::selection {
    background: none;
  }
}

label.checkbox span::selection {
  background: none;
}

label.checkbox > input[type=checkbox] + span:before {
  content: '';
  display: inline-block;
  height: var(--checkbox-height);
  width:  var(--checkbox-height);
  margin-right: var(--tiny-spacing);
  vertical-align: middle;
  color: var(--checkbox-color);
  background-color: var(--checkbox-background-color);
  border: var(--checkbox-border);
  border-width: var(--checkbox-border-width);
  border-radius: var(--checkbox-border-radius);
}

label.checkbox > input[type=checkbox]:checked + span:before {
  background-color: var(--brand-success);
  border-color: var(--brand-success);
}

/*
 * :valid
 * 条件を満たしたら緑になる
 * checkboxの場合は必須の状況が考えにくいのでなにもしない
 */
label.checkbox > input[type=checkbox]:valid + span:before {
  /* border-color: var(--brand-success); */
}

/*
 * .warning 
 *  borderを赤くする:invalidだと
 *  ブラウザによってunfocus, submit後であったりと
 *  動作がバラバラであるため
 *  jsでsubmit時などに統一するために利用
 */
label.checkbox > input[type=checkbox].warning + span:before {
  border-color:  var(--brand-danger);
}

/*
 * .failed
 * ログイン失敗などを知らせる
 * 点滅するアニメーション
 */
label.checkbox > input[type=checkbox].failed + span:before {
  animation: input-failed 0.6s ease 0s 1;
}

input[type=checkbox]::-ms-expand {
  display: none;
}

input[type=checkbox]:-moz-focusring { 
  color: transparent; 
  text-shadow: 0 0 0 #828c9a;
}

/*
 * for MS Edge
 */
@supports (-ms-ime-align: auto) {
  label.select:after {
    top: 43%;
  } 
}

/*
 * kekyframes
 */
@keyframes input-failed {
  0% {
    border-color: var(--gray-light);
  }

  20% {
    border-color: var(--brand-danger);
  }

  30% {
    border-color: var(--gray-light);
  }

  40% {
    border-color: var(--brand-danger);
  }

  100% {
    border-color: var(--gray-light);
  }
}
