/*
 * # modules/select.css
 * formのselectのスタイルを変更
 *
 * Example:
 * <label class="select">
 *   <select>
 *       <option value="10">10月</option>
 *       <option value="11">11月</option>
 *   </select>
 * </label>
 */

/*
 * config
 */
:root {
  --select-height: var(--heading-line-height);
  --select-padding: var(--small-font-size);
  --select-border-radius: var(--tiny-spacing);
  
  /* theme */
  --select-font-size: calc(var(--base-font-size) * 0.8);
  --select-background-color: white;
  --select-border-color: var(--gray-light);
  --select-border: 2px solid var(--select-border-color);
  --select-color: color(
    var(--select-background-color)
    contrast(100%)
  );
}


/*
 * select
 */
select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  font-size: var(--select-font-size);
  height: var(--select-height);
  vertical-align: middle;
  padding: 0 var(--select-height) 0 var(--select-padding);
  padding-top: calc(var(--select-padding) / 10);
  color: var(--select-color);
  background-color: var(--select-background-color);
  border: var(--select-border);
  border-radius: var(--select-border-radius);
  cursor: pointer;

  /*
   * :valid
   * 条件を満たしたら緑になる
   */
  &:valid {
    border-color:  var(--brand-success);
  }

  /*
   * :optional
   * requiredではない普通のinputが
   * validの色になるのを防ぐ
   */
  &:optional {
    border-color: var(--select-border-color);
  }

  /*
   * .warning 
   *  borderを赤くする:invalidだと
   *  ブラウザによってunfocus, submit後であったりと
   *  動作がバラバラであるため
   *  jsでsubmit時などに統一するために利用
   */
  &.warning {
    border-color:  var(--brand-danger);
  }

  /*
   * .failed
   * ログイン失敗などを知らせる
   * 点滅するアニメーション
   */
  &.failed {
    animation: input-failed 0.6s ease 0s 1;
  }
}

select:focus {
  outline: none;
}

label.select {
  position: relative;
}

label.select:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  right: var(--select-padding);
  width: calc(var(--select-height) / 2.75);
  height: calc(var(--select-height) / 2.75);
  border: 2px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--select-color);
  border-left-color: var(--select-color);
  transform: translateY(-50%) rotate(-45deg);
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring { 
  color: transparent; 
  text-shadow: 0 0 0 var(--select-color);
}

/*
 * for MS Edge
 */
@supports (-ms-ime-align: auto) {
  label.select:after {
    top: 43%;
  } 
}

/*
 * kekyframes
 */
@keyframes input-failed {
  0% {
    border-color: var(--gray-light);
  }

  20% {
    border-color: var(--brand-danger);
  }

  30% {
    border-color: var(--gray-light);
  }

  40% {
    border-color: var(--brand-danger);
  }

  100% {
    border-color: var(--gray-light);
  }
}
