/*
 * # configs/base.css
 * 要素に影響を与えるスタイルを定義
 */


/*
 * すべてにborder-boxを
 */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*
 * # html
 * height100%でスクロールした場合対策
 */
html {
  height: 100%;
  min-height: 100%;
  font-size: 10px;
  background-color: var(--color-device-bg);
}

/*
 * # body
 * positionはrelativeを予め設定
 * responsiveのhumbergermenu用にwidth100%を指定
 * windowsはscrollbarの有無でwidthが変わるため常に表示
 * height100%でスクロールした場合対策
 */
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: -apple-system, BlinkMacSystemFont,
    'Droid Sans',
    'Yu Gothic', YuGothic,
    'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',
    Arial, 'メイリオ', Meiryo, sans-serif;
  font-size: var(--base-font-size);
  font-weight: normal;
  line-height: var(--base-line-height);

  color: var(--color-text);
  background-color: var(--color-device-bg);
}

/*
 * heading
 */
h1, h2, h3, h4, h5, h6 {
  font-size: var(--heading-font-size);
  font-weight: 400;
  line-height: var(--heading-line-height);
  margin-top: 0;
  margin-bottom: calc(var(--small-line-height) / 4);
}

h1:last-child, h2:last-child, h3:last-child,
h4:last-child, h5:last-child, h6:last-child,
p:last-child, blockquote:last-child, pre:last-child {
  margin-bottom: 0;
}

/*
 * ::selection
 * 選択した文字の色を指定
 */
::selection {
  background-color: color(var(--brand-warning) alpha(-50%));
}

/*
 * link
 * focusされた際の点線を消す
 * 下線を消すことが多いためデフォルトで消しておく
 */
a, a:hover, a:visited {
  outline: none;
  text-decoration: none;

  color: var(--color-link);
}

a:hover {
  color: var(--color-hover);
}

a:visited {
  color: var(--color-visited);
}

/*
 * # p, blockquote, pre
 * 両端揃えにする
 * 長い単語も折り返す
 */
p, blockquote, pre {
  text-align: justify;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: calc(var(--small-line-height) / 2);
}

/*
 * # span, strong
 * line-heightが無効にならないようにする
 */
span {
  display: inline-block;
}

/*
 * strong
 * line-heightが無効にならないようにする
 */
strong, .strong {
  display: inline-block;
  font-weight: 400;
}

/*
 * small
 * line-heightが無効にならないようにする
 */
small, .small {
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: var(--small-line-height);
}

/*
 * # list
 * 装飾を消す
 */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/*
 * # hr
 * background-colorで色を変更できるように設定
 */
hr {
  height: 1px;
  border: none;
}

/*
 * # img
 * ブロック要素に内容した際2pxの隙間の対応
 */
img {
  vertical-align: bottom;
}

/*
 * address
 * 斜体をクリア
 */
address {
  font-style: normal;
}

/*
 * webfont
 * フォントファミリーを設定
 */
i {
  font-family: 'icomoon';
  font-style: normal;
}

/*
 * # input
 * ボーダーの色を設定
 */
input {
  border: var(--base-border);

  &::placeholder {
    color: var(--gray-light);
  }
}
