/*
 * # configs/vars.css
 * 変数
 */

:root {
  /*
   * media queries
   */
  @custom-media --sp-viewport only screen and (max-width: 767px);
  @custom-media --pc-viewport only screen and (min-width: 768px);
  @custom-media --5k-viewport only screen and (min-width: 1920px);

  /*
   * containers
   */
  --container-width:  100%;
  --inner-container-width: 960px;

  /*
   * color
   * color-device-bgは初期ロード時の背景色
   */

  /* base */
  --color-text:      #333333;
  --color-text-bold: #444444;
  --color-link:      #1d3994;
  --color-hover:     color(var(--color-link) alpha(-50%));
  --color-visited:   #663399;
  --color-bg:        #ffffff;
  --color-bg-second: #d9ebf0;
  --color-device-bg: #252525;

  /* corporate */
  --color-corp:        #195fa5;
  --color-corp-second: #b51c15;
  --color-corp-third:  #fefff8;

  /* brand */
  --brand-primary: #337ab7;
  --brand-success: #5cb85c;
  --brand-info:    #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger:  #d9534f;

  /* gray */
  --gray-darker:  color(var(--color-bg) blackness(85.0%));
  --gray-dark:    color(var(--color-bg) blackness(65.0%));
  --gray:         color(var(--color-bg) blackness(35.0%));
  --gray-light:   color(var(--color-bg) blackness(20.0%));
  --gray-lighter: color(var(--color-bg) blackness(3.5%));

  /* category */
  --color-category-01: #ffb6b6;
  --color-category-02: #ffde9c;
  --color-category-03: #b3e581;
  --color-category-04: #90eeff;
  --color-category-05: #c1a4eb;

  /* space */
  --base-spacing:  2rem;
  --tiny-spacing:  calc(1rem / 2);
  --small-spacing: 1rem;
  --large-spacing: 3rem;

  /* type */
  --base-font-size:       1.6rem;
  --small-font-size:      1.4rem;
  --heading-font-size:    2.0rem;

  --base-line-height:     2.4rem;
  --small-line-height:    1.8rem;
  --tiny-line-height:     1.4rem;
  --heading-line-height:  3.2rem;

  /* modules */

  /* flexbox */
  /*
  --flexbox-columns: 12 !important;
  --flexbox-gutter: 1rem !important;

  --flexbox-item-background-color: var(--gray-lighter) !important;
  --flexbox-item-odd-background-color: color(var(--gray-lighter) blackness(+3%)) !important;
   */

  /* grid */
  /*
  --grid-template-rows: 150px 150px 150px !important;
  --grid-template-columns: 20% 30% 1fr !important;
  --grid-item-border: 1px solid var(--gray) !important;
   */

  /* masonry */
  /*
  --masonry-width: 960px; !important;
  --masonry-column-count: 4 !important;
  --masonry-column-gap: var(--small-spacing) !important;
  --masonry-item-border: 1px solid red !important;
   */
}
