:root{
}

.flexbox-container{
  -js-display:flex;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  width:100%;
  margin:0 auto;
  min-width:0%;
}

[class*='flexbox-item-']{
  padding:16px;
  padding:1rem;
}

.flexbox-item-1{
    min-width:calc(8.33333% - 1rem);
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
  }

.flexbox-item-2{
    min-width:calc(16.66667% - 1rem);
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
  }

.flexbox-item-3{
    min-width:calc(25% - 1rem);
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
  }

.flexbox-item-4{
    min-width:calc(33.33333% - 1rem);
    -webkit-box-flex:4;
        -ms-flex:4;
            flex:4;
  }

.flexbox-item-5{
    min-width:calc(41.66667% - 1rem);
    -webkit-box-flex:5;
        -ms-flex:5;
            flex:5;
  }

.flexbox-item-6{
    min-width:calc(50% - 1rem);
    -webkit-box-flex:6;
        -ms-flex:6;
            flex:6;
  }

.flexbox-item-7{
    min-width:calc(58.33333% - 1rem);
    -webkit-box-flex:7;
        -ms-flex:7;
            flex:7;
  }

.flexbox-item-8{
    min-width:calc(66.66667% - 1rem);
    -webkit-box-flex:8;
        -ms-flex:8;
            flex:8;
  }

.flexbox-item-9{
    min-width:calc(75% - 1rem);
    -webkit-box-flex:9;
        -ms-flex:9;
            flex:9;
  }

.flexbox-item-10{
    min-width:calc(83.33333% - 1rem);
    -webkit-box-flex:10;
        -ms-flex:10;
            flex:10;
  }

.flexbox-item-11{
    min-width:calc(91.66667% - 1rem);
    -webkit-box-flex:11;
        -ms-flex:11;
            flex:11;
  }

.flexbox-item-12{
    min-width:calc(100% - 1rem);
    -webkit-box-flex:12;
        -ms-flex:12;
            flex:12;
  }

@media only screen and (max-width: 767px){
  .flexbox-container{
    display:block;
    width:100%;
  }
  img{
    width:auto;
    max-width:100%;
    height:auto !important;
  }
}

.grid-container{
  display:-ms-grid;
  -ms-grid-rows:150px 150px 150px;
  -ms-grid-columns:20% 30% 1fr;

  display:grid;
  grid-template-rows:150px 150px 150px;
  grid-template-columns:20% 30% 1fr;

  margin:0 auto;
}

[class*='grid-item-']{
  margin:16px;
  margin:1rem;
  padding:16px;
  padding:1rem;
  text-align:center;
}

.grid-item-1{
  grid-column:1; grid-row:1;
  -ms-grid-column:1; -ms-grid-row:1;
}

.grid-item-2{
  -ms-grid-column:2; -ms-grid-row:1;
  -ms-grid-row-span:3;
  grid-column:2; grid-row:1 / 4;
}

.grid-item-3{
  -ms-grid-column:3; -ms-grid-row:1;
  grid-column:3; grid-row:1;
}

.grid-item-4{
  -ms-grid-column:1; -ms-grid-row:2;
  -ms-grid-row-span:2;
  grid-column:1; grid-row:2 / 4;
}

.grid-item-5{
  -ms-grid-column:3; -ms-grid-row:2;
  grid-column:3; grid-row:2;
}

.grid-item-6{
  -ms-grid-column:3; -ms-grid-row:3;
  grid-column:3; grid-row:3;
}

.grid-item-1, .grid-item-4{
  margin-left:0;
}

.grid-item-3, .grid-item-5, .grid-item-6{
  margin-right:0;
}

@media only screen and (max-width: 767px){
  .grid-container{
    display:block;
  }
  [class*='grid-item-']{
    margin:0.5rem;
  }
}

.masonry-container{
  -webkit-columns:calc(240px - 0.75rem);
          columns:calc(240px - 0.75rem);
  -webkit-column-gap:1rem;
          column-gap:1rem;
  text-align:center;
}

[class*='masonry-item-']{
  display:inline-block;
  width:calc(240px - 0.75rem);
  column-break-inside:avoid;
  -webkit-column-break-inside:avoid;
          break-inside:avoid;
  margin-bottom:16px;
  margin-bottom:1rem;
  padding:16px;
  padding:1rem;
}

@media only screen and (max-width: 767px){
  .masonry-container{
    display:block;
  }
  [class*='masonry-item-']{
    display:block;
    width:auto;
    margin:0.5rem;
  }
}

.inview{
  opacity:0;
  -webkit-transition:all 1.6s ease 0.3s;
  transition:all 1.6s ease 0.3s;
}

.inview.active{
  opacity:1;
}

.scrollit-up, .scrollit-down{
  background-size:100% auto;
  -webkit-transition:all .5s ease-out;
  transition:all .5s ease-out;
}

.scrollit-left, .scrollit-right{
  background-size:auto 100%;
  -webkit-transition:all .5s ease-out;
  transition:all .5s ease-out;
}

@media only screen and (max-width: 767px){
  .scrollit-up, .scrollit-down, .scrollit-left, .scrollit-right{
    background-size:200% auto;
  }
}

a.scrolltop:visited{
  color:#1d3994;
}

a.scrolltop{
  position:fixed;
  right:0;
  padding-right:16px;
  padding-right:1rem;
  font-size:48px;
}

@media only screen and (max-width: 767px){
  nav.globalnav.slidemenu{
    border:none;
    //スマホでロード時に表示されるため一度消す opacity:0
  }
  nav.globalnav.slidemenu a, nav.globalnav.slidemenu a:hover{
    color:rgb(155, 155, 155);
  }
  nav.globalnav.slidemenu li{
    border:none;
    border-top:1px solid rgb(56, 56, 56);
    border-bottom:1px solid rgb(33, 33, 33);
    background-color:rgb(43, 43, 43);
  }
  nav.globalnav.slidemenu li:last-child{
    border-right:none;
  }

  div.slidemenu-icon{
    background-color:#252525
  }

  div.slidemenu-icon:before, div.slidemenu-icon:after{
    border-top:5px solid #ffffff;
  }
}

@media only screen and (max-width: 767px){
  nav.globalnav.slidemenu{
    position:fixed;
    top:-240px;
    -webkit-transition:top .5s ease;
    transition:top .5s ease
  }
  nav.globalnav.slidemenu.slidemenu-active{
    top:0;
  }
  nav.globalnav.slidemenu ul{
    display:block;
    padding-top:0;
  }
  nav.globalnav.slidemenu ul li{
    height:4rem;
    padding:1rem;
    line-height:1.8rem;
  }
  div.slidemenu-icon{
    position:fixed;
    top:0;
    right:0;
    margin:1.7rem;
    width:30px;
    height:19px;
    z-index:200;
    -webkit-transition:left .3s ease;
    transition:left .3s ease;
    cursor:pointer
  }
  div.slidemenu-icon:before, div.slidemenu-icon:after{
    position:absolute;
    content:'';
    width:100%;
  }
  div.slidemenu-icon:before{
    top:3px;
  }
  div.slidemenu-icon:after{
    bottom:3px;
  }
}

.hero{
  background-color:rgb(189, 189, 189);
}

.hero{
  display:table;
  width:100%;
  height:300px;
  padding-bottom:0;
  text-align:center;
}

.hero > div{
  display:table-cell;
  vertical-align:middle
}

.hero > div > h1{
  font-size:40px;
  font-size:2.5rem;
}

@media only screen and (max-width: 767px){
  .hero{
    height:225px;
  }
  .hero > div > h1{
    font-size:2.0rem;
  }
  .hero > div > span{
    font-size:1.4rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}

.slideshow [class*='slideshow-item-']{
  background-color:rgb(189, 189, 189);
}

.slideshow [class*='slideshow-item-']:nth-child(odd){
  color:white;
  background-color:rgb(155, 155, 155);
}

.slideshow-prev, .slideshow-forward{
  color:white;
}

.slideshow-dot{
  color:white
}

.slideshow-dot > li{
  border-radius:6px;
  width:12px;
  height:12px;
  background-color:white;
  -webkit-box-shadow:0px 1px 1px black inset;
          box-shadow:0px 1px 1px black inset;
}

.slideshow-dot > li.active{
  background-color:#5cb85c;
}

.slideshow{
  position:relative;
  height:300px;
  padding-bottom:0;
  overflow:hidden;
}

[class*='slideshow-item-']{
  position:absolute;
  margin-left:100%
}

[class*='slideshow-item-'] > *{
  opacity:0;
  //for ios safari z-index issue -webkit-transform:translate3d(0,0,0);
}

[class*='slideshow-item-'].active{
  -webkit-animation:slideshow .7s ease 0s forwards;
          animation:slideshow .7s ease 0s forwards
}

[class*='slideshow-item-'].active > *{
  -webkit-animation:slideshow-fadein .7s ease .8s forwards;
          animation:slideshow-fadein .7s ease .8s forwards;
}

.slideshow-prev, .slideshow-forward{
  position:absolute; 
  display:inline-block;
  height:80px;
  height:5rem;
  top:0;
  bottom:0;
  margin:auto 0;
  font-size:80px;
  font-size:5rem;
  z-index:10;
  cursor:pointer;
  opacity:.3;
  -webkit-transition:opacity .7s ease;
  transition:opacity .7s ease
}

.slideshow-prev:hover, .slideshow-forward:hover{
  opacity:1;
}

.slideshow-prev{
  left:0;
}

.slideshow-forward{
  right:0;
}

.slideshow-dot{
  position:absolute;
  left:0;
  right:0;
  bottom:32px;
  bottom:2rem;
  z-index:10;
  margin:0 auto;
  text-align:center
}

.slideshow-dot > li{
  display:inline-block;
  margin:0 16px;
  margin:0 1rem;
  opacity:.3;
  -webkit-transition:all .5s ease;
  transition:all .5s ease;
  cursor:pointer;
}

.slideshow-dot > li:hover{
  opacity:1;
}

.slideshow-dot > li.active{
  opacity:1;
}

@-webkit-keyframes slideshow{
  0%{
    left:0;
  }

  100%{
    left:-100%;
  }
}

@keyframes slideshow{
  0%{
    left:0;
  }

  100%{
    left:-100%;
  }
}

@-webkit-keyframes slideshow-fadein{
  0%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}

@keyframes slideshow-fadein{
  0%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}

@media only screen and (max-width: 767px){
  .slideshow{
    height:225px;

    // for ios safari overflow-x issue
    & > ul{
      position:relative;
      overflow:hidden;
    }
  }
}

.ripple-effect{
  background-color:#5bc0de;
}

.ripple{
  position:relative;
  overflow:hidden;
  cursor:pointer;
}

.ripple-effect{
  width:500px;
  height:500px;

  position:absolute;
  border-radius:100%;
  -webkit-transform:scale(0);
          transform:scale(0);
  opacity:0;
  pointer-events:none
}

.ripple-effect.active{
  -webkit-animation:ripple .75s ease-out;
          animation:ripple .75s ease-out;
}

@-webkit-keyframes ripple{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
    -webkit-transform:scale(2);
            transform:scale(2);
  }
}

@keyframes ripple{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
    -webkit-transform:scale(2);
            transform:scale(2);
  }
}
