/**
 * rootはnode_modulesが存在するディレクトリからのレポジトリの
 * ドキュメントルートを指定
 *
 * nameはtask名の先頭になる
 */

const root = './';

export const dir = {
  name: '',

  root:    root,
  src:     root + 'src/',
  pages:   root + '../stylesheets/pages/',
  test:    root + 'test/',
  dist:    root + '../css/',
  docs:    root + 'docs/postcss/',
  report:  root + 'example/results/test-results.xml',

  example: {
    js: {
      src: root + 'example/js/'
    },

    css: {
      src: root + 'src/',
      dist: root + 'example/css/'
    }
  }
}
