/**
 * rootはnode_modulesが存在するディレクトリからのレポジトリの
 * ドキュメントルートを指定
 *
 * node_modulesはpackage.jsonからみたnode_modules/の場所を指定
 * (mocha-phantomjs-coreで使用)
 *
 * nameはtask名の先頭になる
 */

const root = './';
const node_modules = './';

export const dir = {
  name: '',

  root:    root,
  src:     root + 'src/',
  pages:   root + '../stylesheets/pages/',
  test:    root + '../stylesheets/test/',
  dist:    root + '../css/',
  docs:    root + 'docs/postcss/',
  report:  {
    nodejs: root + 'example/results/test-results-nodejs.xml',
    phantomjs: root + 'example/results/test-results-phantomjs.xml'
  },

  example: {
    js: {
      src: root + 'example/js/'
    },

    css: {
      src: root + 'src/',
      dist: root + 'example/css/'
    }
  },

  node_module_path: node_modules
}
