/**
 * rootはnode_modulesが存在するディレクトリからのレポジトリの
 * ドキュメントルートを指定
 *
 * node_modulesはpackage.jsonからみたnode_modules/の場所を指定
 * (mocha-phantomjs-coreで使用)
 *
 * nameはtask名の先頭になる
 */

const root = './';
const node_modules = './';

export const dir = {
  name: '',

  root:    root,
  src:     root + 'src/',
  dist:    root + 'css/',
  docs:    root + 'docs/postcss/',

  example: {
    js: {
      src: 'example/js/',
      test: 'example/test',

      report:  {
        mocha: root + 'results/test-results-nodejs.xml',
        phantomjs: root + 'results/test-results-phantomjs.xml'
      },
    },

    css: {
      src: root + 'src/',
      dist: root + 'postcss/example/css/'
    }
  },

  node_module_path: node_modules
}
