/*
 * theme.css
 * 色・スタイルに関する定義
 */

/*
 * body
 */
body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

/*
 * section
 */
header, footer {
  background-color: var(--gray-lighter);
}

header {
  border-bottom: 1px solid #ccc;
}

/*
 * link
 */
a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-hover);
}

a:visited {
  color: var(--color-visited);
}

/*
 * form
 */
input {
  border: 1px solid #999999;
}

/*
 * webfont
 */
i {
  font-family: 'icomoon';
}
