/*
 * # layouts/footer.css
 * footerに関する定義
 */

/*
 * footer
 */
footer.globalfooter {
  width: 100%;
}

/*
 * footerlink
 */
footer.globalfooter div.footerlink {
  padding: var(--base-spacing) 0;

  & img {
    float: left;
    width: 80px;
    height: 20px;
    margin: calc(var(--base-spacing) / 2);
    margin-left: 0;
  }

  & h2, & address, & li, & a, & a:hover {
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    height: calc(var(--large-spacing) * 1.5);
    text-decoration: none;
  }

  & h1 {
    font-size: var(--base-font-size);
  }

  & h2 {
    font-weight: bold;
  }

  & address, & li:last-child {
    height: auto;
  }

  & span {
    padding-right: var(--small-spacing);
  }
}

/*
 * .copyright
 */
footer.globalfooter div.copyright {
  display: block;
  line-height: calc(var(--base-spacing) * 1.5);
  height: calc(var(--base-spacing) * 1.5);
  vertical-align: middle;
  text-align: center;
}


@media (--sp-viewport) {
  footer.globalfooter div.footerlink {
    padding-top: 0;

    & h2 {
      height: auto;
    }

    & li, & a, & a:hover {
      display: inline-block;
      line-height: 1.2rem;
      height: auto;
    }

    & li {
      border-right: 1px solid var(--gray);
      padding: 0 var(--tiny-spacing);
    }

    & li:last-child {
      border-right: none;
    }

    & h2 br, & li br {
      display: none;
    }
  }
}
