/*
 * # layouts/footer.css
 * footerに関する定義
 */

/*
 * vars
 */
:root {
  --footer-height: 3rem;
}

/*
 * footer
 */
footer {
  width: 100%;
  height: var(--footer-height);
  padding-top: 0.7rem;
}

/*
 * .copyright
 */
div.copyright {
  @extend small;
  display: block;
  text-align: center;
}
