/*
 * # layouts/footer.css
 * footerに関する定義
 */

/*
 * footer
 */
footer {
  width: 100%;
  padding: var(--small-spacing) 0;
}

/*
 * .copyright
 */
div.copyright {
  @extend small;
  text-align: center;
}
