/*
 * # layouts/header.css
 * headerに関する定義
 */

/*
 * vars
 */
:root {
  --header-brand-height: 20px;
  --header-height: calc(var(--header-brand-height) + 3rem);
}

/*
 * header
 */
header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  padding: 1.5rem var(--base-spacing);
}

/*
 * .brand
 */
div.brand {
  width: 80px;
  height: var(--header-brand-height);
  background-image: resolve('example.png');
  background-size: size('example.png', 2);
  background-repeat: no-repeat;
  background-position: center left;
}
