/*
 * # layouts/header.css
 * headerに関する定義
 */

/*
 * vars
 */
:root {
  --header-height: 5rem;
}

/*
 * header
 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 1.5rem var(--base-spacing);
}

/*
 * .trademark
 */
h1.trademark {
  width: 80px;
  height: 20px;
  background-image: resolve('example.png');
  background-size: size('example.png', 2);
  background-repeat: no-repeat;
  background-position: center left;

  & a {
    display: block;
    line-height: 20px;
  }
}


@media (--sp-viewport) {
  /*
   * h1.trademark
   */
  h1.trademark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
