/*
 * # layouts/header.css
 * headerに関する定義
 */

/*
 * config
 */
:root {
  --header-height: 5rem;
  --trademark-width: 80px;
  --trademark-height: 20px;
}


/*
 * theme
 */
header > div.header-right {
  & li {
    border-right: 1px solid var(--gray);
  }
}


/*
 * header
 */
header {
  position: fixed;
  display: table;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--base-spacing);
  vertical-align: middle;
}

/*
 * h1.trademark
 */
h1.trademark {
  display: table-cell;
  width: var(--trademark-width);
  height: var(--trademark-height);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;

  & a {
    display: block;
    line-height: var(--trademark-height);
  }
}

/*
 * header-right
 */
header > div.header-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;

  & li {
    display: inline-block;
    font-size: var(--small-font-size);
    border-right: 1px solid var(--gray);
    padding: 0 var(--base-spacing);
  }

  & li:last-child {
    border-right: none;
    padding-right: 0;
  }
}


@media (--sp-viewport) {
  /*
   * h1.trademark
   */
  h1.trademark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  /*
   * div.header-right
   */
  header > div.header-right {
    display: none;
  }
}
