/*
 * # layouts/nav.css
 * navに関する定義
 */

/*
 * vars
 * header.cssを先に読み込むこと
 */
:root {
  --nav-height: 5rem;
}

/*
 * global navigation
 */
nav.globalnav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  margin-top: var(--header-height);
  padding-top: calc(1rem + 3px);
}

nav.globalnav ul {
  -js-display: flex;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: nowrap;
}

nav.globalnav ul li {
  flex: 1;
  text-align: center;
}
