/*
 * # layouts/nav.css
 * navに関する定義
 */

/*
 * vars
 * header.cssを先に読み込むこと
 */
:root {
  --nav-height: 5rem;
}

/*
 * global navigation
 */
nav.globalnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  padding-top: 1rem;
  margin-top: var(--header-height);

  & ul {
    -js-display: flex;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: nowrap;
    vertical-align: middle;

    & li {
      flex: 1;
      line-height: 3rem;
      text-align: center;
    }
  }
}
